<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ime</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/umErroOcorreu</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/umErroOcorreu</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ActivitiesServlet</display-name>
    <servlet-name>ActivitiesServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.ActivitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivitiesServlet</servlet-name>
    <url-pattern>/activities.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioSerlet</display-name>
    <servlet-name>UsuarioSerlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.UsuarioSerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioSerlet</servlet-name>
    <url-pattern>/usuario.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RolesServlet</display-name>
    <servlet-name>RolesServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.RolesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolesServlet</servlet-name>
    <url-pattern>/roles.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RolePartServlet</display-name>
    <servlet-name>RolePartServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.RolePartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolePartServlet</servlet-name>
    <url-pattern>/rp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaysServlet</display-name>
    <servlet-name>PlaysServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.PlaysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaysServlet</servlet-name>
    <url-pattern>/play.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/umErroOcorreu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnvironmentServlet</display-name>
    <servlet-name>EnvironmentServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.EnvironmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnvironmentServlet</servlet-name>
    <url-pattern>/environment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppBaseServlet</display-name>
    <servlet-name>AppBaseServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.AppBaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppBaseServlet</servlet-name>
    <url-pattern>/app.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActsServlet</display-name>
    <servlet-name>ActsServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.ActsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActsServlet</servlet-name>
    <url-pattern>/act.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemModelServlet</display-name>
    <servlet-name>ItemModelServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.ItemModelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemModelServlet</servlet-name>
    <url-pattern>/im.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteActivityServlet</display-name>
    <servlet-name>CompleteActivityServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.CompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteActivityServlet</servlet-name>
    <url-pattern>/complete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinguagemServlet</display-name>
    <servlet-name>LinguagemServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.LinguagemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinguagemServlet</servlet-name>
    <url-pattern>/lang.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArquivoServlet</display-name>
    <servlet-name>ArquivoServlet</servlet-name>
    <servlet-class>br.edu.ifg.ime.servlets.ArquivoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArquivoServlet</servlet-name>
    <url-pattern>/av/*</url-pattern>
    <!-- av = arquivos virtuais -->
  </servlet-mapping>
</web-app>